/* ========body styles=============== */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1c1d20;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* -----------------body style end-------------- */

/* -----------------header---------------------- */
.header-page .container {
  background-color: transparent;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.box-logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header-logo {
  width: 84px;
  height: 19px;
}

.header-navigation {
  display: none;
}

.header-wtg {
  display: none;
}

.header-open-button {
  height: 28px;
  background-color: transparent;
  border: none;
}

.open-modal-icon {
  width: 23px;
  height: 11px;
  background-color: transparent;
  stroke: #fafafa;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-open-button:focus .open-modal-icon,
.header-open-button:hover .open-modal-icon {
  stroke: aquamarine;
}

@media screen and (min-width: 768px) {
  .header-open-button {
    display: none;
  }

  .header-navigation {
    display: block;
    position: relative;
  }

  .header-nav {
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-wtg {
    display: block;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background-color: #ed3b44;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-wtg:focus,
  .header-wtg:hover {
    background-color: #e0373f;
    color: aquamarine;
  }

  .header-menu-button {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fafafa;
    padding: 10px;
    width: 60px;
    height: 39px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background-color: transparent;
    border: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-button:focus,
  .header-menu-button:hover {
    color: aquamarine;
  }

  .header-nav.is-open {
    opacity: 1;
  }

  .header-nav {
    position: absolute;
    min-width: 67px;
    top: 47px;
    left: 0;
  }

  .header-nav-link {
    display: block;
    margin-bottom: 5px;
    color: #fafafa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:focus,
  .header-nav-link:hover {
    color: aquamarine;
  }
}
/* -------------end header---------------------- */

/* -------------modal window---------------------- */
.modal-window {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;

  background: linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #69292d 67.73%,
      #ed3b44 100%
    ),
    linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #596808 67.73%,
      rgba(198, 227, 39, 0.76) 100%
    ),
    linear-gradient(270deg, #1c1d20 49.68%, #001958 67.73%, #0041e8 100%),
    linear-gradient(270deg, #1c1d20 49.68%, #9f3626 67.73%, #e6533c 100%),
    linear-gradient(270deg, #1c1d20 49.68%, #1e3633 67.73%, #2b4441 100%),
    linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #ac5300 67.73%,
      #ff7f08 100%,
      #ff7f08 100%
    );
  background-image: url(../img/header/bg-1x.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: calc(100% + 1px) 100%;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .modal-window {
    background-image: url(../img/header/bg-2x.png);
  }
}

.modal-window.is-open {
  opacity: 1;
  pointer-events: auto;
}

.header-close-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 32px;
  right: 16px;
}

.close-modal-icon {
  width: 28px;
  height: 28px;
  stroke: #fafafa;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-close-button:hover .close-modal-icon,
.header-close-button:focus .close-modal-icon {
  stroke: aquamarine;
}

.modal-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-menu-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-link:focus,
.modal-menu-link:hover {
  color: aquamarine;
}

.modal-menu-wtg {
  font-size: 14px;
  margin-bottom: 64px;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: #ed3b44;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-wtg:focus,
.modal-menu-wtg:hover {
  background-color: #e0373f;
  color: aquamarine;
}

.no-scroll {
  overflow: hidden;
}

/* -------------end modal window------------------ */
/* -------------------hero------------------------ */

.hero-page .container {
  padding-top: 281px;
  padding-bottom: 32px;
  position: relative;

  background-image: url(../img/hero/hero-mobile-1x.png);
  background-size: calc(100% + 10px) 100%;
  background-repeat: no-repeat;
}

.hero-page .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #69292d 67.73%,
      #ed3b44 100%
    ),
    linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #596808 67.73%,
      rgba(198, 227, 39, 0.76) 100%
    ),
    linear-gradient(270deg, #1c1d20 49.68%, #001958 67.73%, #0041e8 100%),
    linear-gradient(270deg, #1c1d20 49.68%, #9f3626 67.73%, #e6533c 100%),
    linear-gradient(270deg, #1c1d20 49.68%, #1e3633 67.73%, #2b4441 100%),
    linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #ac5300 67.73%,
      #ff7f08 100%,
      #ff7f08 100%
    );
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%,
    100% 100%;

  pointer-events: none;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-page .container {
    background-image: url(../img/hero/hero-mobile-2x.png);
  }
}

.title-main {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 212px;
}

.hero-list {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.hero-link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;

  width: 37px;
  height: 37px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:focus,
.hero-link:hover {
  border-color: aquamarine;
  color: aquamarine;
}

.address {
  padding-left: 10px;
  padding-right: 10px;
  width: 178px;
}

@media screen and (min-width: 768px) {
  .hero-page .container {
    padding-top: 300px;
    background-image: url(../img/hero/hero-tablet-1x.png);
  }

  @media screen and (max-width: 1339px) and (min-resolution: 192dpi) {
    .hero-page .container {
      background-image: url(../img/hero/hero-tablet-2x.png);
    }
  }

  .title-main {
    max-width: 632px;
    font-size: 90px;
    margin-bottom: 187px;
  }

  .hero-list {
    justify-content: flex-end;
    gap: 8px;
  }

  .hero-link {
    font-size: 16px;
    width: 55px;
    height: 55px;
  }

  .address {
    padding-left: 24px;
    padding-right: 24px;
    width: 223px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-page .container {
    padding-top: 300px;
    background-image: url(../img/hero/hero-desctop-1x.png);
    background-repeat: no-repeat;
    background-size: 728px 100%;
    background-position: left top;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-page .container {
      background-image: url(../img/hero/hero-desctop-2x.png);
    }
  }

  .title-main {
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 243px;
  }

  .hello {
    display: block;
  }
}

/* ------------------end hero--------------------- */
/* ------------------benefits--------------------- */
.page-benefits .container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title-second {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.benefits-link {
  background-color: #242527;
  border-radius: 20px;
  padding: 24px;
  width: 344px;
}

.benefits-icons {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  padding: 12px;
  stroke: #fafafa;
  fill: transparent;
  background-color: #ed3b44;
  margin-bottom: 64px;
}

.title-third {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.main-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-btn:focus,
.benefits-btn:hover {
  border-color: aquamarine;
  color: aquamarine;
}

@media screen and (min-width: 768px) {
  .page-benefits .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 64px;
  }

  .benefits-link {
    flex-basis: calc((100% - (1 * 16px)) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .page-benefits .container {
    padding-top: 84px;
    padding-bottom: 84px;
    display: flex;
    justify-content: space-between;
  }

  .benefits-list {
    max-width: 680px;
  }
}
/* ----------------end benefits------------------- */
/* -------------------projects=------------------- */
.page-projects .container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.swiper-slide-begin {
  background-color: #fafafa;
  border-radius: 24px 24px 0 0;
  padding: 32px;
}

.swiper-slide-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.swiper-slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #1c1d20;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
}

.projects-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}

.projects-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 60px;
  width: 141px;
  height: 45px;
  color: #fafafa;
  background-color: #ed3b44;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-btn:focus,
.projects-btn:hover {
  background-color: #e0373f;
  color: aquamarine;
}

.swiper-slide-end {
  padding: 100px 16px;
  border-radius: 0 0 24px 24px;
  background-color: #242527;
}

.swiper-wrapper .swiper-slide:last-child .swiper-slide-end {
  padding-bottom: 92px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  transform: none;
  color: transparent !important;
  --swiper-navigation-size: 52px;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.swiper-button-disabled {
  opacity: 0.3 !important;
  filter: grayscale(1) !important;
  transform: scale(0.9) !important;
}

.swiper-button-all {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 32px;
}

.projects-icons {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  padding: 14px;
  fill: none;
  stroke: #fafafa;
}

@media screen and (min-width: 768px) {
  .page-projects .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .swiper-slide-begin {
    padding: 64px;
  }

  .swiper-slide-list {
    margin-bottom: 164px;
  }

  .projects-text {
    font-size: 44px;
    line-height: 1;
    max-width: 494px;
    margin-bottom: 32px;
  }

  .swiper-slide-end {
    padding: 120px 45px;
  }

  .swiper-wrapper .swiper-slide:last-child .swiper-slide-end {
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .page-projects .container {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .swiper-slide-item {
    padding: 18px;
  }

  .projects-btn {
    height: 55px;
  }

  .swiper-slide-list {
    margin-bottom: 223px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: row;
  }

  .swiper-slide-begin {
    border-radius: 24px 0 0 24px;
    width: 688px;
  }

  .swiper-slide-end {
    border-radius: 0 24px 24px 0;
    padding: 120px 37px;
  }
}

/* ----------------end projects------------------- */
/* --------------------faq------------------------ */
/* -------------------end faq--------------------- */

/* -------------------cover====------------------- */
.page-cover .container {
  padding: 0;
  overflow: hidden;
  height: 508px;
  background-image: linear-gradient(
      270deg,
      #1c1d20 49.68%,
      #69292d 67.73%,
      #ed3b44 100%
    ),
    url(../img/cover/cover-lg.png);
  background-repeat: no-repeat;
}

.content {
  position: relative;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.cover-image {
  width: 282px;
  height: 163px;
  padding: 10px;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media screen and (min-width: 768px) {
  .page-cover .container {
    height: 960px;
  }

  .cover-image {
    width: 544px;
    height: 314px;
    padding: 20px;
  }
}
/* ------------------end covers------------------- */
